
:root {
  --bg-color: #F0F3F5;
  --content-bg-color: #fff;
  --content-border: 1px solid #ccc;
  --accent-color: #8066cc;
  --text-color: #15141a;
  --text-font-size: 16px;
  --text-line-height: 32px;
  --font-family: 'system-ui';
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  background-color: var(--bg-color);
}

h1 {
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 28px;
  letter-spacing: 0.03em;
}

h2 {
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 32px;
}

button {
  background-color: #fff;
  border: none;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--accent-color);
  padding: 6px 10px;
  font-family: var(--font-family);
  font-size: 16px;
  cursor: pointer;
  width: auto;
}

input[type=text] {
  background-color: #fff;
  border: none;
  border: var(--content-border);
  border-radius: 5px;
  color: var(--text-color);
  padding: 6px 10px;
  font-family: var(--font-family);
  font-size: 16px;
}
