
:root {
  --bg-color: #F0F3F5;
  --content-bg-color: #fff;
  --content-border: 1px solid #ccc;
  --accent-color: #8066cc;
  --text-color: #3c3c43;
  --text-color-light: #626268;
  --text-font-size: 16px;
  --text-line-height: 32px;
  --font-family: 'system-ui';
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  background-color: var(--bg-color);
}

menu {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
}
