
:root {
  --bg-color: #F0F3F5;
  --content-bg-color: #fff;
  --content-border: 1px solid #ccc;
  --accent-color: #8066cc;
  --text-color: #15141a;
  --text-font-size: 16px;
  --text-line-height: 32px;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'system-ui';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  background-color: var(--bg-color);
}

button {
  background-color: #fff;
  border: none;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--accent-color);
  padding: 6px 10px;
  font-family: system-ui;
  font-size: 16px;
  cursor: pointer;
}

input[type=text] {
  background-color: #fff;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--text-color);
  padding: 6px 10px;
  font-family: system-ui;
  font-size: 16px;
}

h1 {
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 28px;
  letter-spacing: 0.03em;
}

h2 {
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 32px;
}

#app {
  display: grid;
  grid-row-gap: 30px;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

#header {
  display: grid;
  min-width: 100%;
  letter-spacing: 0.03em;
  grid-auto-flow: column;
  align-content: center;
  background-color: var(--content-bg-color);
  border-bottom: var(--content-border);
  padding: 20px 28px;
}

.header-right {
  display: grid;
  margin-left: auto;
  justify-content: flex-end;
  align-content: center;
  grid-auto-flow: column;
  grid-column-gap: 15px;
}

.main {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-areas: 'sidenav content';
  grid-auto-flow: column;
  grid-column-gap: 45px;
  width: 100%;
  max-width: 1250px;
  min-height: auto;
  margin: 0 auto;
}

.sidenav {
  grid-area: sidenav;
  display: grid;
  align-content: flex-start;
  width: 260px;
  background-color: var(--content-bg-color);
  border: var(--content-border);
  border-radius: 5px;
  padding: 12px 20px;
  height: auto;
}

.title-container {
  display: grid;
  justify-content: flex-start;
  grid-auto-flow: column;
  align-content: center;
  grid-column-gap: 15px;
}

.content {
  grid-area: content;
  display: grid;
  max-width: 1fr;
  width: 900px;
  min-width: auto;
  background-color: var(--content-bg-color);
  border: var(--content-border);
  border-radius: 5px;
  padding: 25px 30px;
}
